:root {
  --brand-color: #4d5ae5;
  --secondary-color: #2e2f42;
  --third-color: #434455;
  --background-color: #2e2f42;
  --second-background-color: #f4f4fd;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-list,
.contacts-list,
.projects-list {
  list-style: none;
}

/* Reset */
h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: 0;
}

.container {
  outline: 2px solid tomato;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Main-nav */
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Logo */
.logo-nav .link {
  margin-right: 76px;
  color: var(--brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header .logo:hover {
  color: #525cc9;
}
.header .logo .accent {
  color: #2e2f42;
}

/* Site nav */

.header-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.contacts-list {
  display: flex;
  margin-right: auto;
  padding: 24px 0;
}

.header-list .link {
  display: block;
  padding: 20px 0;
  gap: 40px;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}

.header-list .link:hover,
.header-list .link:focus {
  color: #404bbf;
}

.header-list .link:current {
  color: var(--brand-color);
}

/* Adress */

.contacts-link {
  font-style: normal;
  text-decoration: none;
  list-style: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* Hero */

.hero {
  text-align: center;
  background-color: var(--background-color);
  pad: 188px 0;
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  color: #ffffff;
  background-color: var(--background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  display: block;
  padding: 16px 32px;
  margin-bottom: 188px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  height: 56px;
  color: #ffffff;
  background-color: var(--brand-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Benefits + Our Team */

.benefits-container {
  padding: 120px 0;
}

.benefits-title,
.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  visibility: hidden;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.benefits-list,
.works-list,
.team-list {
  list-style: none;
}

.benefits-card {
  width: 264px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-right: 24px;
}

.benefits-card:not(:last-child) {
  margin-right: 24px;
}

.benefits-examples {
  margin-bottom: 8px;
}

.benefits-examples,
.team-examples,
.projects-examples {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  background-color: #ffffff;
  text-transform: capitalize;
}

.benefits-text,
.team-description,
.projects-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-color);
  background-color: #ffffff;
}

/* What are we doing */
.works-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.works-title {
  min-width: 323px;
  padding-top: 0;
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.works-item {
  width: calc((100% - 48px) / 3);
}

/* Our team */

.team-card {
  margin-bottom: 120px;
}

.team-description {
  margin-bottom: 32px;
}

.team-examples {
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-title {
  min-width: 162px;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-section {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .team-card {
  background-color: #ffffff;
}

/* Footer */

.footer {
  padding: 100px 0;
  color: #f4f4fd;
  background-color: var(--background-color);
}

.footer-text {
  width: 264px;
  padding-bottom: 100px;
  color: var(--second-background-color);
  background-color: var(--background-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer .link {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-decoration: none;
}

.footer .accent {
  color: #f4f4fd;
}

/* PORTFOLIO */

.projects-list {
  padding-top: 96px;
  padding-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.projects-card .link {
  text-decoration: none;
}

.projects-list .first {
  font-family: Roboto, sans-serif;
  color: var(--brand-color);
  background-color: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.projects-list .second {
  font-family: Roboto, sans-serif;
  color: var(--brand-color);
  background-color: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.projects-nav:hover,
.projects-nav:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.projects-cases {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.projects-card {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
  list-style: none;
}

.projects-card:nth-child(3n) {
  margin-right: 0;
}

.projects-card: :nth-last-child(-n+3) {
  margin-right: 0;
}
